{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- <div class="contact_address">
    <div class="header">
        <h1>Contact Us</h1>
        
    </div>

    <div class="content">
        <div class="content-form">
            <section>
                <ion-icon name="location-outline"></ion-icon>
                <h2>Address</h2>
                <p>
                    125, Central Square, <br>
                    New York, NY 286
                </p>
            </section>
    
            <section>
                <ion-icon name="call-outline"></ion-icon>
                <h2>Phone</h2>
                <p>+447-7231-72932</p>
            </section>
    
            <section>
                <ion-icon name="mail-outline"></ion-icon>
                <h2>E-mail</h2>
                <p>Support@cargoshipments.com</p>
            </section>
    
            <section>
                <ion-icon name="time-outline"></ion-icon>
                <h2>Working Hours</h2>
                <p>Mon-Fri: 10AM-5PM <br>
                    Sat-Sun: 10AM-1PM</p>
            </section>
        </div>
    </div>
    <form action="">
        <div class="form">
            <div class="right">
            <div class="contact-form">
                <input type="text" required>
                <span>Full Name</span>
            </div>

            <div class="contact-form">
                <input type="E-mail" required>
                <span>E-mail Id</span>
            </div>

            <div class="contact-form">
                <textarea name="text"></textarea>
                <span>
                    Type your message
                </span>
            </div>

            <div class="contact-form">
                <input type="submit" name="submit">
            </div>
        </div>

        </div>
    </form>

    <div class="social_media">
        <li><ion-icon name="logo-facebook"></ion-icon></li>
        <li><ion-icon name="logo-twitter"></ion-icon></li>
        <li><ion-icon name="logo-whatsapp"></ion-icon></li>
        <li><ion-icon name="logo-instagram"></ion-icon></li>
    </div>
    <div class="empty">

    </div>
</div> -->

<div class="contact-us">
    <h2><b> Contact</b> Us </h2>
    <div class="contact-content">
        <p> 
            <ion-icon name="location-outline"></ion-icon>
            <h3>Address</h3>

            125, Central Square, <br>
            New York, NY 286

        </p>
        <p>
            <ion-icon name="call-outline"></ion-icon>
            <h3>Call Us</h3>

            +447-7231-72932

        </p>

        <p> 
            <ion-icon name="mail-outline"></ion-icon>
            <h3>E-Mail</h3>

            support@cargoshipments.com

        </p>
        <p>
            <ion-icon name="time-outline"></ion-icon>
            <h3>Working Hours</h3>
            Mon-Fri: 10AM-5PM <br>
                Sat-Sun: 10AM-1PM

        </p>
    </div>


    <div class="map">

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3020.577066008406!2d-73.92521938567073!3d40.793311279323106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2f5f05dcd8f09%3A0x47bd0697236de57b!2s125%20Central%20Rd%2C%20New%20York%2C%20NY%2010035%2C%20USA!5e0!3m2!1sen!2sng!4v1652231237851!5m2!1sen!2sng" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


    </div>
</div>




{% endblock content %}